# Python
ai_backend/.venv/
ai_backend/__pycache__/
ai_backend/.env
*.pyc

# Flutter
mobile_frontend/build/
mobile_frontend/.dart_tool/
mobile_frontend/.flutter-plugins
mobile_frontend/.flutter-plugins-dependencies

# AI Models (Do not ignore keras_Model.h5 since it's required for backend deployment)
# *.h5

# OS Files
.DS_Store
Thumbs.db

# Project Temp Scripts
mobile_frontend/*.py